@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.content{
    width: 34%;
    position: absolute;
    right: 147px; top: 230px;
    font-family: 'Montserrat';
    text-align: left;
    color: white;
}

.content__title{
    margin: 0;
    font-size: 5.5rem;
    text-transform: uppercase;
    line-height: 113%;
    font-weight: 800;
    letter-spacing: 3px;
}

.content__text{
    margin: 40px 0 5px 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.content__button{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #4d5a79;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1rem;
}